{% extends "base.html" %}
{% block content %}
<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-4 text-gray-800">Редактировать товар: {{ product.name }}</h1>

    <form method="POST" enctype="multipart/form-data" class="space-y-4">
        {{ form.hidden_tag() }}

        <div>
            <label for="name" class="text-gray-700">Название:</label>
            {{ form.name(class="block w-full px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:ring-1 focus:border-blue-500", id="name") }}
            {% for error in form.name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            <label for="description" class="text-gray-700">Описание:</label>
            {{ form.description(class="block w-full px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:ring-1 focus:border-blue-500", id="description") }}
            {% for error in form.description.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            <label for="price" class="text-gray-700">Цена:</label>
            {{ form.price(class="block w-full px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:ring-1 focus:border-blue-500", id="price") }}
            {% for error in form.price.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            <label for="category_id" class="text-gray-700">Категория:</label>
            {{ form.category_id(class="block w-full px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:ring-1 focus:border-blue-500", id="category_id") }}
            {% for error in form.category_id.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            <label for="image" class="text-gray-700">Изображение:</label>
            {{ form.image(class="block w-full px-3 py-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:ring-1 focus:border-blue-500", id="image") }}
            {% for error in form.image.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Сохранить изменения</button>
    </form>
</div>
{% endblock %}