<!-- templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-4 text-gray-800">О нас</h1>
    <p class="text-lg text-gray-600 mb-4">
        Основное направление деятельности предприятия ООО «ВТТ» - весь спектр работ в области вакуумной техники и технологий. Цель создания фирмы – стремление к более полному и качественному подходу к разработке и изготовление вакуумной техники  с новыми технологическими возможностями.
    </p>
    <p class="text-lg text-gray-600 mb-4">
        Специалисты нашего предприятия имеют огромный опыт разработки и изготовления вакуумной техники различного функционального назначения. Нами изготовлены и поставлены вакуумные установки в такие страны как Россия, Украина, Литва, США, Сирия, Тайвань, Китай, Эстония, Канада, Польша и др. 
    </p>
    <p class="text-lg text-gray-600 mb-4">
        Мы имеем тесные производственные и научные связи со многими российскими и западными институтами и предприятиями. Накопленный опыт работ в области вакуумной техники позволил систематизировать полученные знания и наметить направления деятельности предприятия в области новых технологий.
    </p>
    <h2 class="text-2xl font-bold mb-4 text-gray-800">Основные направления деятельности</h2>
    <ul class="list-disc ml-6 text-gray-600 mb-4">
        <li>разработка и изготовление вакуумной техники;</li>
        <li>вакуумных установок для нанесения защитно-декоративных покрытий;</li>
        <li>вакуумных установок для нанесения упрочняющих покрытий;</li>
        <li>вакуумных установок для нанесения оптических покрытий;</li>
        <li>вакуумных установок для нанесения нанокомпозитных покрытий;</li>
        <li>вакуумных установок для нанесения покрытий на полупроводниковые пластины;</li>
        <li>вакуумных установок для замены гальванических покрытий;</li>
        <li>разработка конструкторской документации для изготовления оборудования по ТЗ заказчика;</li>
        <li>модернизация вакуумных установок старого образца;</li>
        <li>разработка и изготовление вакуумных откачных систем;</li>
        <li>разработка и изготовление технологических источников для нанесения покрытий в вакууме;</li>
        <li>разработка и изготовление технологических источников для очистки, распыления и ассистирования;</li>
        <li>разработка и изготовление вакуумной арматуры;</li>
        <li>разработка и изготовление блоков питания к технологическим источникам нанесения покрытий;</li>
        <li>разработка и изготовление систем управления вакуумными установками;</li>
        <li>изготовление вакуумных печей;</li>
        <li>ремонт и модернизация вакуумных печей; </li> 
        <li>разработка и внедрение новых технологий;</li>
        <li>изготовление установок электролитно-плазменной полировки.</li> 
    </ul>
    <p class="text-lg text-gray-600 mb-4">
        Мы предлагаем вакуумные установки как в базовой комплектации, так и установки специально изготовленные под требуемые покрытия и напыляемое изделие. Наша задача – максимально удовлетворить требования заказчика по оптимальной стоимости. Специалисты ООО «ВТТ» всегда готовы к взаимовыгодному  сотрудничеству и удовлетворению любых пожеланий заказчика.
    </p>
    <h2 class="text-2xl font-bold mb-4 text-gray-800">Контакты</h2>
    <ul class="list-disc ml-6 text-gray-600 mb-4">
        <li><strong>Директор:</strong> Высоцкий Василий Семенович - +37529 6154641</li>
        <li><strong>E-mail:</strong> VACTT@MAIL.RU</li>
        <li><strong>E-mail:</strong> VVS200362@LIST.RU</li>
        <li><strong>Тел/факс:</strong> +3751592-4-12-90</li>
    </ul>
</div>
{% endblock %}