{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-4 text-gray-800">Оформление заказа</h1>

    {% if cart_items %}
    <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-xl font-bold mb-4 text-gray-800">Ваш заказ</h2>
        <table class="table-auto w-full">
            <thead>
                <tr>
                    <th class="px-4 py-3 text-left text-gray-800 font-bold">Товар</th>
                    <th class="px-4 py-3 text-left text-gray-800 font-bold">Количество</th>
                    <th class="px-4 py-3 text-left text-gray-800 font-bold">Цена</th>
                    <th class="px-4 py-3 text-left text-gray-800 font-bold">Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td class="border-b border-gray-200 px-4 py-3">{{ item.product.name }}</td>
                    <td class="border-b border-gray-200 px-4 py-3">{{ item.quantity }}</td>
                    <td class="border-b border-gray-200 px-4 py-3">{{ item.product.price|round(2) }} руб.</td>
                    <td class="border-b border-gray-200 px-4 py-3">{{ (item.product.price * item.quantity * (1 - (item.product.discount.discount_value / 100) if item.product.discount else 1)) | round(2) }} руб.</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="border-b border-gray-200 px-4 py-3 text-right font-bold">Итого:</td>
                    <td class="border-b border-gray-200 px-4 py-3 text-right font-bold">{{ total_price|round(2) }} руб.</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6 mt-4">
        <h2 class="text-xl font-bold mb-4 text-gray-800">Доставка и оплата</h2>
        <form method="POST" action="{{ url_for('checkout') }}">
            {{ form.hidden_tag() }}
            <div class="mb-4">
                {{ form.address.label(class_="block text-gray-700 text-sm font-bold mb-2") }}
                {{ form.address(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                {% for error in form.address.errors %}
                  <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                {{ form.payment_method.label(class_="block text-gray-700 text-sm font-bold mb-2") }}
                {{ form.payment_method(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
            </div>

            <button type="submit" 
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Оформить заказ
            </button>
        </form>
    </div>

    {% else %}
    <div class="bg-white rounded-lg shadow-md p-6">
        <p class="text-gray-600">Ваша корзина пуста.</p>
    </div>
    {% endif %}

</div>
{% endblock %}